---
import IdealProductPriceCalculator from "./Calculator";
import BeforeAfterSlider from "../components/BeforeAfterSlider.tsx";
import Section from "./Section.astro";
import H1 from "./ui/Heading1";
import H2 from "./ui/Heading2";
import Text from "./ui/Text";
---

<Section variant="white">
    <div class="container mx-auto max-w-[1080px] pb-12">
        <div class="flex flex-col md:flex-row items-end justify-between gap-8">
            <div class="w-full md:w-1/2 text-center md:text-left">
                <H1 color="kyte-gray" align="left-all">
                    Descubra o preço ideal do seu produto
                </H1>
                <Text color="kyte-gray" align="left-all" size="large">
                    Nem tão caro que ninguém compre, tampouco barato demais e
                    reduzir os lucros. Descubra agora qual o preço de venda
                    ideal para o seu produto.
                </Text>
                <BeforeAfterSlider
                    client:load
                    beforeImage="/images/beforeImage.webp"
                    afterImage="/images/afterImage.webp"
                    beforeLabel="Antes"
                    afterLabel="Depois"
                />
            </div>
            <div class="w-full md:w-1/2 justify-items-center">
                <IdealProductPriceCalculator client:only="react" />
                <div class="flex flex-row items-center gap-4 mt-6">
                    <img
                        src="/images/ra-verificado.webp"
                        alt="RA Verificado"
                        width="100"
                    />
                    <img
                        src="/images/seguroGoogle.svg"
                        alt="Seguro Google"
                        width="100"
                    />
                    <img
                        src="/images/seguroSSL.svg"
                        alt="Seguro SSL"
                        width="100"
                    />
                </div>
            </div>
        </div>
    </div>
</Section>
