---
import IdealProductPriceCalculator from "./Calculator";
import BeforeAfterSlider from "../components/BeforeAfterSlider.tsx";
---

<section class="py-12 px-4 bg-[#F7F7F8] font-graphik text-[#363f4d]">
    <div class="container mx-auto max-w-6xl">
        <div class="flex flex-col md:flex-row items-end justify-between gap-8">
            <div class="w-full md:w-1/2 text-center md:text-left">
                <h1 class="text-4xl md:text-5xl font-bold mb-6 leading-tight">
                    Descubra o preço ideal do seu produto
                </h1>
                <p class="mb-8 text-lg">
                    Nem tão caro que ninguém compre, tampouco barato demais e
                    reduzir os lucros. Descubra agora qual o preço de venda
                    ideal para o seu produto.
                </p>
                <BeforeAfterSlider
                    client:load
                    beforeImage="/src/assets/beforeImage.webp"
                    afterImage="/src/assets/afterImage.webp"
                    beforeLabel="Antes"
                    afterLabel="Depois"
                />
            </div>
            <div class="w-full md:w-1/2 justify-items-center">
                <IdealProductPriceCalculator client:only="react" />
                <div class="flex flex-row items-center gap-4 mt-6">
                    <img
                        src="/src/assets/ra-verificado.webp"
                        alt="RA Verificado"
                        width="100"
                    />
                    <img
                        src="/src/assets/seguroGoogle.svg"
                        alt="Seguro Google"
                        width="100"
                    />
                    <img
                        src="/src/assets/seguroSSL.svg"
                        alt="Seguro SSL"
                        width="100"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
