---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Idol is an elegant landing page template for micro SaaS products built with AstroJS & Tailwind CSS"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Google Tag Manager -->
		<script async defer>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-M3T5WH5");
		</script>
		<!-- End Google Tag Manager -->

		<title>{title}</title>
	</head>
	<body class="font-graphik m-0 bg-gray09">
		<slot />
		<script
			defer
			src="https://mintyebfontkit.blob.core.windows.net/$web/kyte-shared.min.js"
		></script>
		<script
			defer
			src="https://mintyebfontkit.blob.core.windows.net/$web/kyte-form-steps.min.js"
		></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-M3T5WH5"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
